/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
@font-face {
    font-family: SegoeUI;
    src:
        local("Segoe UI Semibold"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),
        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");
    font-weight: 700;
}

p, a, h1, h2, h3, h4 {
    font-family: 'Segoe UI', sans-serif;
}

header {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
}

::-webkit-scrollbar { 
    display: none; 
}
/* ==========================================================================
   Navbar style
   ========================================================================== */
   nav {
    background-image: url(../img/footer-bg.png);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.13);
    -webkit-box-shadow: 5px 5px 3px rgba(0,0,0,0.13);
    -moz-box-shadow: 5px 5px 3px rgba(0,0,0,0.13);
    box-shadow: 5px 5px 3px rgba(0,0,0,0.13);
    z-index: 10;
}

.logo {
    float: left;
    display: block;
    padding: 5px;
}

ul.topnav {
    overflow: hidden;
    float: right;
    margin-top: 25px;
    margin-bottom: 0px;
}
ul.topnav li {
    display: inline-block;
    padding: 2px 15px;
}

ul.topnav li a {
    color: #6399f5;
    font-weight: 700 !important;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 5px;
    -webkit-transition: color .5s linear;
    -moz-transition: color .5s linear;
    -ms-transition: color .5s linear;
    -o-transition: color .5s linear;
    transition: color .5s linear;
}

ul.topnav li a:hover {
    color: #EE8CA3 !important;
}

ul.topnav li:last-child {
    padding: 0;
}

a.cv-link .cv-img-hvr {
    display: none;
}

a.cv-link:hover img.cv-img,
a.cv-link:focus img.cv-img,
a.cv-link:active img.cv-img {
    display: none;
}

a.cv-link:hover img.cv-img-hvr,
a.cv-link:focus img.cv-img-hvr,
a.cv-link:active img.cv-img-hvr {
    display: inline-block;
    padding: 0;
}
  
/* Underline From Center */
.hvr-underline-from-center {
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background:  #EE8CA3;
    height: 3px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

button.responsive-btn {
    display: none;
}

/* ==========================================================================
   Headline style
   ========================================================================== */

.headline {
    background-image: url(../img/headline-bg.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: inset 0px 7px 19px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 7px 19px -3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 7px 19px -3px rgba(0,0,0,0.5);
}

.headline h1 {
    text-align: left;
    width: auto;
    display: block;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35%;
    padding-bottom: 45%;
    padding-left: 10%;
    padding-right: 10%;
}

/* ==========================================================================
   Work style
   ========================================================================== */
#work {
    background-color: #232F3F;
    -webkit-box-shadow: inset 0px 7px 19px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 7px 19px -3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 7px 19px -3px rgba(0,0,0,0.5);
}
#portfolio {  
    margin-top: 15px;
    -webkit-column-count: 3; 
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
    padding: 0 15px 15px 15px;
}
.toolbar {
    margin-left: auto;
    margin-right: auto;
    display: table;
    padding-top: 15px;
}
.tile { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;

}

.scale-anm {
  transform: scale(1);
}

.tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  
}

.btn {
    font-family: 'Segoe UI', sans-serif;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: .5rem 1rem;
    margin: 0;
    height: auto;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #fff;
    background: none !important;
    border: none !important;
    -webkit-transition: color .5s linear;
    -moz-transition: color .5s linear;
    -ms-transition: color .5s linear;
    -o-transition: color .5s linear;
    transition: color .5s linear;
}

.btn:hover {
  text-decoration: none;
  color: #EE8CA3;
}

.btn:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* ==========================================================================
   About style
   ========================================================================== */

.myphoto {
    width: 100%;
}

.text-about {
    padding: 1%;
    -webkit-box-shadow: inset 0px 7px 19px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 7px 19px -3px rgba(0,0,0,0.5);
    box-shadow: inset 0px 7px 19px -3px rgba(0,0,0,0.5);
    background-color: #232F3F;
    color: #fff;
}

.text-about a {
    text-decoration:none;
    font-size: 14px;
    color: #6399f5;
    -webkit-transition: color .5s linear;
    -moz-transition: color .5s linear;
    -ms-transition: color .5s linear;
    -o-transition: color .5s linear;
    transition: color .5s linear;
}

.text-about a:hover {
    color: #EE8CA3;
}
/* ==========================================================================
   Contact style
   ========================================================================== */

#contact {
    background-image: url(../img/footer-bg.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: inset 0px 7px 19px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 7px 19px -6px rgba(0,0,0,0.5);
    box-shadow: inset 0px 7px 19px -6px rgba(0,0,0,0.5)
}

#contact p {
    font-size: 24px;
}

#contact ul {
    list-style-type: none;
    padding-left: 0;
    float: left;
}
#contact ul li {
    padding-bottom: 10px;
}
#contact ul li a {
    text-decoration:none;
    font-size: 14px;
    color: #333436;
    -webkit-transition: color .5s linear;
    -moz-transition: color .5s linear;
    -ms-transition: color .5s linear;
    -o-transition: color .5s linear;
    transition: color .5s linear;
}

#contact ul li a:hover {
    color: #EE8CA3;
}

/* Underline From Left */
.hvr-underline-from-left {
    display: block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #EE8CA3;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
  }

/* ==========================================================================
   Footer style
   ========================================================================== */

footer {
    background-color: #fff;
    -webkit-box-shadow: inset 0px 7px 19px -10px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 7px 19px -10px rgba(0,0,0,0.5);
    box-shadow: inset 0px 7px 19px -10px rgba(0,0,0,0.5);
    padding: 5px;
}
p.copyright {
    font-size: 12px;
}

.container-centred {
    max-width: 900px;
    float: none;
    margin: auto;
}
.container {
    display: -webkit-box;
    max-width: 900px;
    float: none;
    margin: auto;
}

.column-6 {
    width: 50%;
}

@media only screen and (max-width: 981px) {
    .myphoto {
        margin-top: 12%;
    }
    .container, .container-centred {
        display: block;
        max-width: 1000px;
    }

    #contact .container {
        display:  inline-flex;
        width: 100%;
    }
    p.copyright {
        padding-left: 35%;
    }
    .text-about {
        padding: 5%;
    }
    .column-6 {
        padding-left: 5%;
    }
}

@media only screen and (max-width: 600px) {
    .container, .container-centred {
        display: block;
        max-width: 1000px;
    }

    #menu{
        display: none;
    }

    ul.topnav {
        top: 55px;
        background-color: #fff;
        margin: 0 10px 10px 10px;
        width: -webkit-fill-available;
        width: -moz-available;
        width: -ms-fill-available;
        padding-left: 0;
    }

    ul.topnav li {
        display: block;
        margin: 5px 15px;
        text-align: center;
    }

    ul.topnav li a {
        display: block;
        text-align: center;
    }

    button.responsive-btn {
        float: right;
        display: block;
        padding: 10px 15px 15px 15px;
        margin-top: 15px;
        margin-right: 15px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: #11217c;
    }

    button.responsive-btn span {
        background-color: #fff;
        display: block;
        width: 22px;
        height: 3px;
        border-radius: 1px;
        margin-top: 5px;
    }
        
    .myphoto {
        margin-top: 20%;
    }

    p.copyright {
        padding-left: 30%;
    }
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
